@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

*{
    padding: 5px;
}

a {
    text-decoration: none;
    color: green;
}
.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  